includes:
	- phpstan-baseline.neon

parameters:
    level: max
    checkMissingIterableValueType: false
    bootstrapFiles:
        - tests/bootstrap.php
    paths:
        - src/
        - tests/TestApp